<h1>Hello World!</h1>
<div data-controller="hello">
  <input data-hello-target="name" type="text">
  <button data-action="click->hello#greet">Greet</button>
</div>

<div data-controller="clipboard">
    PIN: <textarea data-clipboard-target="source" type="text" value="1234" readonly>
    <button data-action="clipboard#copy">Copy to clipboard</button>
</div>