<div data-controller="content-loader">
    <a href="#" data-content-loader-url-param="/message.html" data-action="content-loader#load">Messages</a>
    <a href="#" data-content-loader-url-param="/comment.html" data-action="content-loader#load">Comments</a>
</div>